/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(255, 255, 255);
}

.banner_width {
  width: 20%;
  margin-top: 22px;
}
/* @media only screen and (max-width: 600px) {
  .banner_width {
    margin-top: 33px;
    width: 85%;
  }
}
@media only screen and (min-width: 600px) {
  .banner_width {
    margin-top: 33px;
    width: 70%;
  }
}
@media only screen and (min-width: 1100px) {
  .banner_width {
    margin-top: 33px;
    width: 60%;
  }
}
@media only screen and (min-width: 1400px) {
  .banner_width {
    margin-top: 33px;
    width: 54%;
  }
} */
.header_edit {
  top: 99px;
  position: relative;
  font-weight: bolder;
  font-size: 42px;
  font-family: 'MedievalSharp', cursive;
  background: whitesmoke;
  border: red;
  border-radius: 5px;
  border-width: 7px;
  border-style: double;
  opacity: 0.9;
}
@media only screen and (max-width: 600px) {
  .header_edit {
    top: 25px;
    font-weight: bolder;
    font-size: 22px;
  }
 }
@media only screen and (min-width: 600px) {
  .header_edit {
    top: 45px;
    font-weight: bolder;
    font-size: 27px;
  }
} 
@media only screen and (min-width: 740px) {
  .header_edit {
    top: 55px;
    font-weight: bolder;
    font-size: 38px;
  }
} 
@media only screen and (min-width: 1100px) {
  .header_edit {
    top: 66px;
    font-weight: bolder;
    font-size: 42px;
  }
}
@media only screen and (min-width: 1600px) {
  .header_edit {
    top: 66px;
    font-weight: bolder;
    font-size: 50px;
  }
}
@media only screen and (min-width: 1800px) {
  .header_edit {
    top: 66px;
    font-weight: bolder;
    font-size: 46px;
  }
}
.wrapper {
  display: flex;
}

.nav-social-t {
  height: 50px;
  width: 50px;
  padding: 0 10px 0 10px;
  position: fixed;
  top: 0;
  left: 0;
}
.nav-social-d {
  height: 50px;
  width: 50px;
  padding: 0 10px 0 10px;
  position: fixed;
  top: 0;
  left: 42px;
}

@media only screen and (max-width: 600px) {
  .nav-social-t {
    height: 40px;
    width: 40px;
    padding: 0 10px 0 10px;
    position: fixed;
    top: 0;
    left: 0;
  }
  .nav-social-d {
    height: 40px;
    width: 40px;
    padding: 0 10px 0 10px;
    position: fixed;
    top: 0;
    left: 27px;
  }
}

.main_body {
  margin-top: 18%;

}
@media only screen and (max-width: 600px) {
  .main_body {
    margin-top: 22%;
  }
}
@media only screen and (min-width: 740px) {
  .main_body {
    margin-top: 22%;
  }
}
@media only screen and (min-width: 1100px) {
  .main_body {
    margin-top: 14%;
  }
}
@media only screen and (min-width: 1400px) {
  .main_body {
    margin-top: 15%;
  }
}
@media only screen and (min-width: 1600px) {
  .main_body {
    margin-top: 10%;
  }
}

body {
  position: relative;
  height: 100vh;
  width: 100%;

}
body::before {
  content: "";
  background-image: url(/public/s8n_roadmap.png);
  background-size: 34%;
  background-repeat: round;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.13;
}

main {
  position: relative;
  background-image: url(/public/s8n_banner.png);
  background-size: 80% auto;
  background-repeat: no-repeat;
  background-position-x: center;
  text-align: center;
  padding: 1em;
  margin: 0 auto;
}
@media only screen and (max-width: 600px) {
  main {
    background-image: url(/public/s8n_banner.png);
    background-size: 72% auto;
    background-repeat: no-repeat;
    background-position-x: center;
    text-align: center;
    padding: 1em;
    margin: 0 auto;
  }
 }
 @media only screen and (min-width: 600px) {
  main {
    background-image: url(/public/s8n_banner.png);
    background-size: 72% auto;
    background-repeat: no-repeat;
    background-position-x: center;
    text-align: center;
    padding: 1em;
    margin: 0 auto;
  }
 }
 @media only screen and (min-width: 740px) {
  main {
    background-image: url(/public/s8n_banner.png);
    background-size: 78% auto;
    background-repeat: no-repeat;
    background-position-x: center;
    text-align: center;
    padding: 1em;
    margin: 0 auto;
  }
 }
 @media only screen and (min-width: 1100px) {
  main {
    background-image: url(/public/s8n_banner.png);
    background-size: 63% auto;
    background-repeat: no-repeat;
    background-position-x: center;
    text-align: center;
    padding: 1em;
    margin: 0 auto;
  }
 }
 @media only screen and (min-width: 1440px) {
  main {
    background-image: url(/public/s8n_banner.png);
    background-size: 58% auto;
    background-repeat: no-repeat;
    background-position-x: center;
    text-align: center;
    padding: 1em;
    margin: 0 auto;
  }
 }
 @media only screen and (min-width: 1600px) {
  main {
    background-image: url(/public/s8n_banner.png);
    background-size: 48% auto;
    background-repeat: no-repeat;
    background-position-x: center;
    text-align: center;
    padding: 1em;
    margin: 0 auto;
  }
 }

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: rgb(247, 142, 72) transparent rgb(228, 61, 61) transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
